Package: com.icraze.yteta
Name: YTETA
Depends: mobilesubstrate
Version: 1.2
Architecture: iphoneos-arm
Description: Display the time when a YouTube video will end.
Maintainer: iCraze
Author: iCraze
Section: Tweaks
